# Dependencies
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo

# Odoo
odoo/data/
odoo/addons/__pycache__/

# Docker volumes
postgres_data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.log
